main {
    display: flex;
}

h1 {
    text-align: center;
}

.folders {
    flex: 1;
}

.folder {
    color: green;
    border: 1px solid black;
    padding: 15px;
    width: 100px;
    text-align: center;
}

.active {
    font-size: 10px;
    margin: 10px;
}

.inactive {
    display: none;
}

.notesList {
    margin: 0 0 0 15px;
    flex: 4;
}

.note {
    border: 1px solid black;
    width: 400px;
    display: flex;
    padding: 15px;
    margin: auto;
    margin-bottom: 5px;
}

.noteInfo {
    margin-right: 0;
    text-align: left;
    width: fit-content;
}

.deleteButton {
    height: 30px;
    margin: auto;
}